@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arabic-friendly base styles */
@layer base {
  html {
    font-family: theme(fontFamily.sans);
  }
  body {
    @apply bg-white text-gray-900;
  }
  .dark body {
    background-color: theme("colors.brand.900");
    color: theme("colors.gray.100");
  }
}

/* Utilities */
@layer utilities {
  .container-app {
    @apply max-w-screen-2xl mx-auto px-5;
  }
}
