@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arabic-friendly base styles */
@layer base {
  html {
    font-family: theme(fontFamily.sans);
  }
  body {
    @apply bg-white text-gray-900;
  }
}

/* Utilities */
@layer utilities {
  .container-app {
    @apply max-w-screen-2xl mx-auto px-5;
  }
  /* Hide scrollbar but keep scroll functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
